.cg{
    background-color: rgb(253, 232, 8);
    border-radius: 20px;
border: 5px solid rgb(red, green, blue);
border-color: black;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 450px;
height: 600px;

}

.cj{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:300px ;
 
}
.message{
  border-radius: 2px;
  border-color: coral;
  border-width: 5px;
            cursor: pointer;
            font-weight: 700;
            height: 40px;
            width: 100px;
}

.following{
  border-radius: 2px;
  border-color: rgb(213, 18, 41);
  border-width: 5px;
            cursor: pointer;
            font-weight: 700;
            height: 40px;
            width: 100px;
}
.kk{
  display: flex; 
   justify-content: center; 
        
}
.badge{
  position: absolute;
  top: 15px;
  left: 15px;
  background: rgb(196, 12, 64);
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}
